@import "normalize.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: var(--font-size);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
css variables set using Config.generateCSS()

:root {
  --font-size: 8px;
  --japanese-font: "Noto Sans";
}
*/

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

:root {
  --text: black;
  --text-light: #808080;
  --text-success: green;
  --text-warn: red;
  --accent: #ff992a;
  --accent-orange: #ff992a;
  --accent-pink: #ff6086;
  --border: #c9c9c9;
  --background: white;
  --background-alt-light: #f8f8f8;
  --background-alt: #f2f2f2;
  --background-dark: #d3d3d3;
  --input: white;
  --selected-blue: #007aff;
  --button-light: #999999;
  --button-bg: #cccccc;
  --japanese-font-family: var(--japanese-font), "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", sans-serif;
  --edge-horizontal-padding: 8px;
}