@import "normalize.css";

/* :host is for shadow dom in Toasts.svelte */
:root,
:host {
  --text: black;
  --text-light: #808080;
  --text-success: green;
  --text-warn: red;
  --accent: #ff992a;
  --accent-orange: #ff992a;
  --accent-pink: #ff6086;
  --border: #c9c9c9;
  --background: white;
  --background-alt-light: #f8f8f8;
  --background-alt: #f2f2f2;
  --background-dark: #d3d3d3;
  --input: white;
  --selected-blue: #007aff;
  --button-light: #999999;
  --button-bg: #cccccc;
  --edge-horizontal-padding: 8px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

/* Prevent Chrome setting body font-size to 75% on extension pages */
body {
  font-size: 100%;
}

/**
css variables set using Config.generateCSS()

:root {
  --font-size: 8px;
  --japanese-font: "Noto Sans";
}
*/

button {
  background-color: unset;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

/* Use css for furigana so it is not copied into clipboard. */
rt:before {
  content: attr(data-rt);
}

:root,
:host {
  font-size: var(--font-size, 14);
  /* 
    Mixed language font
    specified twice as fallback for if var(--japanese-font) is invalid
  */
  font-family: "Helveutica Neue", Helvetica, Arial, "メイリオ", Meiryo,
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo,
    YuGothic, "Noto Sans CJK JP", sans-serif;
  font-family: "Helveutica Neue", Helvetica, Arial, var(--japanese-font,),
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo,
    YuGothic, "Noto Sans CJK JP", sans-serif;
  color: var(--text);
  background-color: var(--background);
}

.Japanese {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ",
    Meiryo, YuGothic, "Noto Sans CJK JP", sans-serif;
  font-family: var(--japanese-font,), "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, YuGothic, "Noto Sans CJK JP",
    sans-serif;
}
