* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #eeeeee;
}

button {
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  background-color: #eeeeee;
}

button[disabled] {
  border: 1px solid lightgray;
}

button:not([disabled]):hover, button:not([disabled]):active {
  cursor: pointer;
  filter: brightness(0.9);
}

input:focus-visible {
  border-color: transparent;
}

.warning {
  color: red;
}
.success {
  color: green;
}