body {
  background-color: var(--background-alt);
}

button[disabled] {
  border: 1px solid var(--border);
}

:global(html.desktop) button:not([disabled]):hover,
button:not([disabled]):active {
  cursor: pointer;
  filter: brightness(0.9);
}

input:focus-visible {
  border-color: transparent;
}

.warning {
  color: var(--text-warn);
}

.success {
  color: var(--text-success);
}